In [7]:
import numpy as np
import pandas as pd
from tqdm import tqdm_notebook

In [8]:
PATH = "../data/"
data_full = pd.read_csv(f'{PATH}train.tsv', sep='\t')
data_full.head()

,train_id,name,item_condition_id,category_name,brand_name,price,shipping,item_description
0,0,MLB Cincinnati Reds T Shirt Size XL,3,Men/Tops/T-shirts,NaN,10.0,1,No description yet
1,1,Razer BlackWidow Chroma Keyboard,3,Electronics/Computers & Tablets/Components & P...,Razer,52.0,0,This keyboard is in great condition and works ...
2,2,AVA-VIV Blouse,1,Women/Tops & Blouses/Blouse,Target,10.0,1,Adorable top with a hint of lace and a key hol...
3,3,Leather Horse Statues,1,Home/Home Décor/Home Décor Accents,NaN,35.0,1,New with tags. Leather horses. Retail for [rm]...
4,4,24K GOLD plated rose,1,Women/Jewelry/Necklaces,NaN,44.0,0,Complete with certificate of authenticity

In [9]:
len(data_full)

1482535

## Replace NaN in category_name by 'No Category'

In [10]:
print(data_full.category_name.isnull().sum(), 'items have no category')

6327 items have no category

In [11]:
data_full.category_name = data_full.category_name.fillna('No Category')

In [12]:
data_full.category_name.isnull().sum()

0

# Categories

In [13]:
print("There is {} unique categories".format(data_full.category_name.nunique()))

There is 1288 unique categories

In [14]:
cat_counts = {} # dict to store number of items posted in each category
for cat in tqdm_notebook(data_full.category_name.unique()):
    cat_counts[cat] = len(data_full.loc[data_full.category_name == cat])

HBox(children=(IntProgress(value=0, max=1288), HTML(value='')))

In [15]:
cat_counts_df = pd.DataFrame(data={'category_name': list(cat_counts.keys()), 'count': list(cat_counts.values())})

In [16]:
cat_counts_df.head()

                                       category_name  count
0                                  Men/Tops/T-shirts  15108
1  Electronics/Computers & Tablets/Components & P...    964
2                        Women/Tops & Blouses/Blouse  20284
3                 Home/Home Décor/Home Décor Accents  13004
4                            Women/Jewelry/Necklaces  19758

In [17]:
cat_counts_df.describe()

              count
count   1288.000000
mean    1151.036491
std     3761.740192
min        1.000000
25%       10.000000
50%       76.000000
75%      590.000000
max    60177.000000

In [28]:
print(len(cat_counts_df.loc[cat_counts_df['count'] == 1]), 'categories contain only a single item.')

84 categories contain only a single item.