In [1]:
import numpy as np
import pandas as pd

# Settings

In [2]:
settings = { 
            'data_size': int(100), # size of data subset after shuffle is performed
            'test_size': 0.25, # fraction of data set to be assigned as test data
            'save_env': False # save environment
           }

# Load Data: load dataset, shuffle it and take subset

In [3]:
PATH = "../data/"

In [4]:
data_full = pd.read_csv(f'{PATH}train.tsv', sep='\t')

In [5]:
data_full.head()

,train_id,name,item_condition_id,category_name,brand_name,price,shipping,item_description
0,0,MLB Cincinnati Reds T Shirt Size XL,3,Men/Tops/T-shirts,NaN,10.0,1,No description yet
1,1,Razer BlackWidow Chroma Keyboard,3,Electronics/Computers & Tablets/Components & P...,Razer,52.0,0,This keyboard is in great condition and works ...
2,2,AVA-VIV Blouse,1,Women/Tops & Blouses/Blouse,Target,10.0,1,Adorable top with a hint of lace and a key hol...
3,3,Leather Horse Statues,1,Home/Home Décor/Home Décor Accents,NaN,35.0,1,New with tags. Leather horses. Retail for [rm]...
4,4,24K GOLD plated rose,1,Women/Jewelry/Necklaces,NaN,44.0,0,Complete with certificate of authenticity

In [6]:
len(data_full)

1482535

In [7]:
from sklearn.utils import shuffle
data_shuffled = shuffle(data_full)

In [8]:
data = data_shuffled.iloc[:settings['data_size'], :]

In [9]:
len(data)

100

In [10]:
data.head()

,train_id,name,item_condition_id,category_name,brand_name,price,shipping,item_description
1479527,1479527,Halloween Slime,1,Kids/Toys/Arts & Crafts,ART,4.0,1,"Price is firm, and shipping is free! MAY MELT ..."
1116809,1116809,Lilly Pulitzer Zip ID,2,Women/Women's Accessories/Wallets,NaN,20.0,0,"Like new, used once or twice. Smoke free home...."
70365,70365,Gas mask,1,Other/Other/Other,NaN,31.0,0,Blue acrylic glass gas mask Yours will be BRAN...
192322,192322,Verginia,2,Women/Jewelry/Bracelets,PANDORA,36.0,0,Pandora Elsa AND Snow White (2 beads)
163618,163618,NEW Sol De Janeiro Lip Butter,1,Beauty/Makeup/Lips,NaN,14.0,1,Brand new and 100% authentic Retails for [rm] ...

# Data preparation

## Item Category

Split category_name into main_cat, subcat_1 and subcat_2

In [11]:
# reference: BuryBuryZymon at https://www.kaggle.com/maheshdadhich/i-will-sell-everything-for-free-0-55
def split_cat(text):
    try: return text.split("/")
    except: return ("No Label", "No Label", "No Label")

In [12]:
data.loc[:,'main_cat'], data.loc[:,'subcat_1'], data.loc[:,'subcat_2'] = \
zip(*data.loc[:,'category_name'].apply(lambda x: split_cat(x)))
# data.head()

/Users/daniel/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:362: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
/Users/daniel/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [13]:
data.head()

,train_id,name,item_condition_id,category_name,brand_name,price,shipping,item_description,main_cat,subcat_1,subcat_2
1479527,1479527,Halloween Slime,1,Kids/Toys/Arts & Crafts,ART,4.0,1,"Price is firm, and shipping is free! MAY MELT ...",Kids,Toys,Arts & Crafts
1116809,1116809,Lilly Pulitzer Zip ID,2,Women/Women's Accessories/Wallets,NaN,20.0,0,"Like new, used once or twice. Smoke free home....",Women,Women's Accessories,Wallets
70365,70365,Gas mask,1,Other/Other/Other,NaN,31.0,0,Blue acrylic glass gas mask Yours will be BRAN...,Other,Other,Other
192322,192322,Verginia,2,Women/Jewelry/Bracelets,PANDORA,36.0,0,Pandora Elsa AND Snow White (2 beads),Women,Jewelry,Bracelets
163618,163618,NEW Sol De Janeiro Lip Butter,1,Beauty/Makeup/Lips,NaN,14.0,1,Brand new and 100% authentic Retails for [rm] ...,Beauty,Makeup,Lips

## Overview

In [14]:
print("Number of unique fields:\n")

print("main_cat: \t%d" % data['main_cat'].nunique())
print("subcat_1: \t%d" % data['subcat_1'].nunique())
print("subcat_2: \t%d" % data['subcat_2'].nunique())
print("brand_name: \t%d" % data['brand_name'].nunique())
print()

print("%d items have no category" % len(data.loc[data['main_cat'] == 'No Label']))
print("%d items have no brand" % data['brand_name'].isna().sum())

Number of unique fields:

main_cat: 	10
subcat_1: 	43
subcat_2: 	64
brand_name: 	42

0 items have no category
42 items have no brand

## Numerically represent features

### train_id: copy

Create new DataFrame called data_num for numerical representations

In [15]:
data_num = pd.DataFrame(data.loc[:,'train_id'], columns=['train_id'])

### name: represent name by its length as name_len

In [16]:
name_len = data['name'].str.len()
data_num.loc[:,'name_len'] = name_len

### item_condition_id, price, shipping: copy

In [17]:
data_num[['item_condition_id', 'price', 'shipping']] = data.loc[:,['item_condition_id', 'price', 'shipping']]

### item_description

Represent item_description by its length as item_description_len

In [18]:
item_description_len = data.loc[:,'item_description'].str.len()
data_num['item_description_len'] = item_description_len

In [19]:
# data_num.head()

In [20]:
# data.head()

### Define function for making binary columns

In [26]:
def make_binary_columns(df_str, df_num, column_name):
    """
    Turns a single column named column_name (with various categories) into m binary columns, where m is the number
    of unique values in the original column. For each sample, the value for all new columns is 0 apart the one
    that matches the value of the original column. Names of new binary columns are formed as follows:
    column_name + '_' + str(original column value)
    Inputs:
        two pandas DataFrames: df_str where a single column contains information about given category
                               df_num that will later contain many binary columns
        column_name: name of the column that will be split into several binary columns
    Returns nothing. It appends the collumns directly into df_num to increase performance.
    """
    m = len(df_str)
    if (m != len(df_num)):
        raise Exception("df_str and df_num must have the same size.")
 
    categories = df_str[column_name].unique()

    from tqdm import tqdm_notebook # progress bar

    # Create a new feature for each category and initialize it to 0
    for i in tqdm_notebook(categories, desc='1/2'):
        df_num[column_name + '_' + str(i)] = np.zeros((m, 1), dtype=np.int8)

    Loop thorugh all rows and assign 1 to the column whose name is the same as category
    for i in tqdm_notebook(df_str.index, desc='2/2'): # loop through all rows
        category = str(df_str.at[i, column_name])
        df_num.at[i, column_name + '_' + category] = 1

### brand_name: for each unique one create new binary feature

In [27]:
make_binary_columns(data, data_num, 'brand_name')

HBox(children=(IntProgress(value=0, description='1/2', max=43), HTML(value='')))

In [28]:
data_num.dtypes

train_id                            int64
name_len                            int64
item_condition_id                   int64
price                             float64
shipping                            int64
item_description_len                int64
brand_name_ART                       int8
brand_name_nan                       int8
brand_name_PANDORA                   int8
brand_name_Air Jordan                int8
brand_name_Beats                     int8
brand_name_ZARA                      int8
brand_name_Lululemon                 int8
brand_name_Mary Kay                  int8
brand_name_UGG Australia             int8
brand_name_Under Armour              int8
brand_name_Nike                      int8
brand_name_Old Navy                  int8
brand_name_Independent               int8
brand_name_Gildan                    int8
brand_name_Victoria's Secret         int8
brand_name_Nintendo                  int8
brand_name_Allison Brittney          int8
brand_name_PINK                      int8
brand_name_Younique                  int8
brand_name_Banana Republic           int8
brand_name_Brandy Melville           int8
brand_name_Joe's Jeans               int8
brand_name_Vintage                   int8
brand_name_Trish McEvoy              int8
brand_name_FOREVER 21                int8
brand_name_GUESS                     int8
brand_name_Disney                    int8
brand_name_vineyard vines            int8
brand_name_Flynn Skye                int8
brand_name_Jordan                    int8
brand_name_Hudson Jeans              int8
brand_name_American Boy & Girl       int8
brand_name_Obey                      int8
brand_name_Sundance                  int8
brand_name_Adidas                    int8
brand_name_Ganz                      int8
brand_name_Marvel                    int8
brand_name_Starbucks                 int8
brand_name_Sony                      int8
brand_name_Tarte                     int8
brand_name_Mango                     int8
brand_name_Osh Kosh B'gosh           int8
brand_name_Faded Glory               int8
dtype: object

In [29]:
data_num.head()

,train_id,name_len,item_condition_id,price,shipping,item_description_len,brand_name_ART,brand_name_nan,brand_name_PANDORA,brand_name_Air Jordan,...,brand_name_Sundance,brand_name_Adidas,brand_name_Ganz,brand_name_Marvel,brand_name_Starbucks,brand_name_Sony,brand_name_Tarte,brand_name_Mango,brand_name_Osh Kosh B'gosh,brand_name_Faded Glory
1479527,1479527,15,1,4.0,1,611,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1116809,1116809,21,2,20.0,0,116,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
70365,70365,8,1,31.0,0,101,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
192322,192322,8,2,36.0,0,37,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
163618,163618,29,1,14.0,1,106,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
# data.head()

### main_cat, subcat_1, subcat_2: for each unique one create new binary feature

In [ ]:
data_num = make_binary_columns(data, data_num, 'main_cat')
data_num = make_binary_columns(data, data_num, 'subcat_1')
data_num = make_binary_columns(data, data_num, 'subcat_2')

# Split data and extract X, y and train_id

In [ ]:
from sklearn.model_selection import train_test_split
train, test = train_test_split(data_num, test_size = settings['test_size'], random_state=None) # randomly split data

In [ ]:
y_train = train.pop('price')
y_test = test.pop('price')

In [ ]:
X_train = train
X_test = test

In [ ]:
# Pop id_train from both training and test data set

id_train = X_train.pop('train_id')
id_test = X_test.pop('train_id')

# Scale data

In [ ]:
from sklearn.preprocessing import MaxAbsScaler

scaler = MaxAbsScaler()
scaler.fit(X_train) # Compute the mean adn std of training data to be used for future scaling

X_train_scaled_ar = scaler.transform(X_train)
X_train_scaled = pd.DataFrame(X_train_scaled_ar, index=X_train.index, columns=X_train.columns)
del X_train_scaled_ar

X_test_scaled_ar = scaler.transform(X_test)
X_test_scaled = pd.DataFrame(X_test_scaled_ar, index=X_test.index, columns=X_test.columns)
del X_test_scaled_ar

In [ ]:
# X_train_scaled.head()

In [ ]:
# X_train.head()

In [ ]:
# X_test_scaled.head()

In [ ]:
# X_test.head()

In [ ]:
who

In [ ]:
if (settings['save_env']):
    import dill                            #pip install dill --user
    dill.dump_session('splittedData.pkl')

# Delete data that are not needed anymore

In [ ]:
import sys
def sizeof_fmt(num, suffix='B'):
    ''' By Fred Cirera, after https://stackoverflow.com/a/1094933/1870254'''
    for unit in ['','Ki','Mi','Gi','Ti','Pi','Ei','Zi']:
        if abs(num) < 1024.0:
            return "%3.1f%s%s" % (num, unit, suffix)
        num /= 1024.0
    return "%.1f%s%s" % (num, 'Yi', suffix)

for name, size in sorted(((name, sys.getsizeof(value)) for name,value in locals().items()),
                         key= lambda x: -x[1])[:10]:
    print("{:>30}: {:>8}".format(name,sizeof_fmt(size)))

In [ ]:
del data_num, train, test, X_train, X_test, data_full, data_shuffled, data

# Performance measure: RMSE

$$\text{RMSE} \left( \mathbf{Y} , \mathbf{\hat{Y}} \right) = \sqrt{\frac{1}{n} \sum_{i=1}^n \left( y_i - \hat{y_i} \right)^2 } $$

In [ ]:
def rmse(y_test, y_pred):
    from sklearn.metrics import mean_squared_error
    return np.sqrt(mean_squared_error(y_test, y_pred))

# Apply linear regression

In [ ]:
# Fit linear regression
from sklearn.linear_model import LinearRegression
lnr_regr = LinearRegression(n_jobs=-1)
print("Trainig...")
lnr_regr.fit(X_train_scaled, y_train)
print("Training done.")

if (settings['save_env']):
    dill.dump_session('linearModel.pkl')
    
# Make predictions and report train and test RMSEs

print("Evaluating performance on the training set...")
pred_train = lnr_regr.predict(X_train_scaled)
rmse_train = rmse(y_train, pred_train)
print("Training set RMSE: %.2f" % rmse_train)

print("Evaluating performance on the test test...")
pred_test = lnr_regr.predict(X_test_scaled)
rmse_test = rmse(y_test, pred_test)
print("Test set RMSE: %.2f" % rmse_test)

# Learning curves

In [ ]:
# import dill

In [ ]:
# dill.load_session('linearModel.pkl')

In [ ]:
# who